html, body {
    width: 100%;
}

.container {
    width: 100%;
}

h1 {
    font-size: 1.2em;
    text-align: center;
}

article {
    margin: 20px auto 50px auto;
    width: 500px;
}

div.pagination {
    margin: 10px auto;
    width: 500px;
}

div.pagination .previous {
    text-align: left;
}

span.page_number {
    text-align: center;
}

div.pagination .next {
    float: right;
}

img {
    max-width: 450px;
    margin: 0 auto;
}

p.meta {
    font-size: smaller;
    text-align: center;
}

@media (max-width: 530px) {
    article {
        margin: 20px auto 50px auto;
        width: 100%;
    }

    div.pagination {
        margin: 10px auto;
        width: 100%;
    }
    
    img {
        max-width: 100%;
    }
}