---
layout: default
title: rdwy
---

    {% for post in paginator.posts %}
    <article class="h-entry">
    {% if post.layout == "post" %}
        <h3 class="p-name">{{ post.title }}</h3>
    {% endif %}
        
        
    {% if post.layout == "link_post" %}
        <a href="{{ post.link_url }}">
            <h3 class="p-name">&#8594; {{ post.link_title }}</h3>
        </a>
    {% endif %}
        <div class="e-content">
            {{ post.content }}
        </div>
        <p class="meta">
            <a href="{{ post.url }}" class="u-url">
                <time class="dt-published" datetime="{{ post.date }}">
                    {{ post.date | date: "%B %e %Y - %I:%M%P" }}
                </time>
            </a>
        </p>
    </article>
    <br />
    {% endfor %}
    
    
    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
      {% else %}
        <!--<span class="previous">Newer</span>-->
      {% endif %}
      <!--<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>-->
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Older</a>
      {% else %}
        <!--<span class="next ">Older</span>-->
      {% endif %}
    </div>