---
layout: default
title: rdwy
---

    {% for post in paginator.posts %}
    <article>
    {% if post.layout == "post" %}
        <h3>{{ post.title }}</h3>
    {% endif %}
    
    {% if post.layout == "link_post" %}
        <a href="{{ post.link_url }}"><h3>&#8594; {{ post.link_title }}</h3></a>
    {% endif %}
    
        {{ post.content }}
        
        <p class="meta">
            <a href="{{ post.url }}">{{ post.date | date: "%B %e %Y - %I:%M%P" }}</a>
        </p>
    </article>
    <br />
    {% endfor %}
    
    
    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
      {% else %}
        <span class="previous">Newer</span>
      {% endif %}
      <!--<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>-->
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Older</a>
      {% else %}
        <span class="next ">Older</span>
      {% endif %}
    </div>